@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --richBlack: #040f0f;
  --forestGreen: #248232;
  --pigmentGreen: #2ba84a;
  --gunmetal: #1e1f1f;
  --babyPowderLight: #a8c0a8;
  --babyPowder: #fcfffc;
  --crimson: #dc143c;
  --fontPrimary: "Rubik", sans-serif;
  --breakpoint-small: "320px";
  --breakpoint-medium: "640px";
  --breakpoint-large: "960px";
  --breakpoint-x-large: "1280px";
  --breakpoint-xx-large: "1920px";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontPrimary);
}

body {
  background-color: var(--richBlack);
}

@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");

html,
body {
  width: 100%;
  height: 100%;
}

.main-section {
  box-shadow: 10px 10px 13px 1px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 10px 10px 13px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 10px 10px 13px 1px rgba(0, 0, 0, 0.26);
}
.container {
  width: 300px;
  height: 70px;
}

.container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: var(--babyPowder);
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.container .search:hover {
  cursor: pointer;
}
.container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 10px;
  width: 10px;
  height: 2px;
  background: var(--richBlack);
  transform: rotate(45deg);
  transition: all 0.5s;
}
.container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--richBlack);
  transition: all 0.5s;
}
.container input {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 35px;
  outline: none;
  border: none;
  background: var(--crimson);
  color: white;
  text-shadow: 0 0 10px #dc143c;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 var(--richBlack), 0 11px 14px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.container input:hover {
  cursor: pointer;
}
.container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.container input:focus ~ .search {
  right: -250px;
  background: var(--babyPowder);
  z-index: 6;
}
.container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 15px;
}
.container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 15px;
  height: 2px;
  border: none;
  background: var(--richBlack);
  border-radius: 0%;
  transform: rotate(-45deg);
}
.container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

.left-panel {
  border-right: 1.5px solid var(--richBlack);
  z-index: 1000;
}
.progress {
  -webkit-appearance: none;
  background: var(--babyPowder);
  height: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--babyPowder);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid var(--richBlack);
  cursor: pointer;
}

.seek {
  width: 70%;
}
.songs-setting {
  padding: 0.2rem 0.6rem;
}
.volume {
  /* transform: rotate(-90deg);
  transform-origin: 50% 50%; */
  height: 4px;
}

::-webkit-scrollbar {
  width: 7px;                   /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #dc143c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#fcfffc, #2ba84a);
  border-radius: 10px;
}


/*Resoonsiveness*/

/* --breakpoint-small: "320px";
  --breakpoint-medium: "640px";
  --breakpoint-large: "960px";
  --breakpoint-x-large: "1280px";
  --breakpoint-xx-large: "1920px"; */

@media screen and (max-width: 1280px) {
  .main-section {
      width: 85vw;
      height: 85vh;
    }

  .main {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 5px;
    scroll-behavior: smooth;
  }

  .card-component {
    margin: 0 auto;
  }

  .card-container {
    padding: 0;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 960px) {
  .main-section {
    width: 85vw;
    height: 80vh;
  }

  .main {
    height: 67vh;
  }

  .card {
    grid-template-columns: 1fr 1fr;
    /* padding: 2rem; */
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 0 auto;
  }
  
  .card-component {
    margin: 0 auto;
  }

  .each-card {
    margin-top: 3rem;
  }

  .controls-btn {
    column-gap: 2.5rem;
  }
  .fa-solid {
    font-size: 1.1rem;
  }
  .fa-play,
  .fa-pause {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .header {
    height: 70px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100vw;
  }
  .nav-bar {
    column-gap: 6rem;
    margin-top: 1rem;
    padding: 1rem;
    margin: 0 auto;
  }

  .logo-area {
    font-size: 1rem;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.4rem;
  }

  .searchInput {
    display: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0;
    width: 95vw;
    height: 82vh;
    margin: 0 auto;
    /* main container inside the main section */
  }

  .left-panel {
    display: none;
    flex-direction: row;
    width: 100vw;
    border-radius: 0;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    row-gap: 2.5rem;
  }


  .main-section {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }


  .faves {
    margin: 0;
  }

  /* Cards area */

  .card-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: -5rem; */
    margin: 0 auto;
    padding: 0;
    padding-top: 2rem;
    width: 100vw;
    height: 75vh;
  }
  .card-area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* margin: 0 auto; */
  }

  .card {
    width: 85vw;
  }
}

@media screen and (max-width: 450px) {
  .header {
    height: 70px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100vw;
  }
  .nav-bar {
    column-gap: 6rem;
    margin-top: 1rem;
    padding: 1rem;
    margin: 0 auto;
  }

  .logo-area {
    font-size: 1rem;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.4rem;
  }

  .searchInput {
    display: none;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0;
    width: 95vw;
    height: 82vh;
    margin: 0 auto;
    /* main container inside the main section */
  }

  .main-section {
    border-radius: 0;
  }

  .left-panel {
    display: none;
    flex-direction: row;
    width: 100vw;
    border-radius: 0;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    row-gap: 2.5rem;
  }

  .faves {
    margin: 0;
  }

  /* Cards area */

  .card-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: -5rem; */
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height: 75vh;
  }
  .card-area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /* margin: 0 auto; */
  }

  .card {
    grid-template-columns: 1fr 1fr;
    /* padding: 2rem; */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .card-component {
    margin-top: -2rem;
    margin-bottom: 1.5rem;
    height: 10rem;
    width: 10rem;
    margin: 0 auto;
  }
  .title {
    font-size: 1.1rem;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    font-weight: 900;
  }

  .each-card {
    width: 10rem;
    height: 10rem;
  }
  .img-container {
    width: 5rem;
    height: 5rem;
  }
  .card-img {
    width: 5rem;
    height: 5rem;
  }
  .song-title,
  .song-artist {
    font-size: 0.68rem;
  }

  /* controls setting */
  .seek {
    width: 70%;
  }
  .songs-setting {
    height: 80px;
    width: 80px;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 3rem;
  }

  .volume {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  .fa-volume-high {
    font-size: 1rem;
    line-height: 0;
  }
}
